@-moz-document regexp("http(|s)://(|www.)2(|-)ch\.(so|ru|hk|ec|pm|re|tf|wf|yt).*") {

	.footer, #boardNav, .logo img, .r36, .rek64, span[style="color: #800080; font-size: 0.9em; text-align: center;"], div[style="font-size:0.9em;"], hr[style="clear: left;"], a[href*="liveinternet.ru"], #trumpet_message {
	display: none !important;
	}

	hr[style="clear: left;"]:nth-child(2) { 
    	display: block !important;
	}

	html,body {
	background-color: #1D1F21 !important;
	color: #C5C8C6 !important;
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 16px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 5px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	}

	.thread {
	clear:both !important;
	margin: 0 auto !important;
/*	max-width: 1000px !important;*/
	}

	.reply {
	background-color: #282A2E !important;
	border-radius: 0 !important;
	border: 1px solid #282A2E !important;
	padding-bottom: 7px !important;
	margin: 0px 0 !important;
/*	display: table !important;*/
	overflow: hidden !important;
	}

	.post {
	padding: 0px !important;
	margin: 0px !important;
/*	min-width:100% !important;*/
	}

	p {
	margin: 4px 0 !important;
	}

	a {
	color: #81A2BE !important;
	padding: 0px !important;
	text-decoration: underline !important;
	}

	a:hover { 
	color: #5F89AC !important;
	text-decoration: underline !important;
	}

	a[onclick*="highlight"] {
	color: #5F89AC !important;
	}

	a:hover[onclick*="highlight"] {
	color: #81A2BE !important;
	}

	hr {
	border:none !important;
	border-top: 1px solid #282a2e !important;
	height: 0 !important;
	}

	br[style="clear:left;"] {
	display:none !important;
	}

	.unkfunc {
	color: #B5BD68 !important;
	}

	.thumbnailmsg {
	display:none !important;
	}

	.filetitle {
	background: inherit !important;
	font-size: 10pt !important;
	color: #b294bb !important;
	font-weight: bold !important;
	}

	.logo a {
	text-decoration: none !important;
	font-size: 28px !important;
	font-weight: bold !important;
	color: #C5C8C6 !important;
	}

	table[border="1"] {
	background: #282A2E !important;
	border: 1px solid #111111 !important;
	color: #C5C8C6 !important;
	font-size: 14px !important;
	list-style: none outside none !important;
	margin: 0 !important;
	overflow: hidden !important;
	padding: 0px 7px !important;
	padding-top: 3px !important;
	}

	table[border="1"] a {
	text-decoration: none !important;
	}

	.rmenu {
	font-size: 14px !important;
	}

	.rmenu a {
	text-decoration: none !important;
	}

	.rmenu a:hover {
	text-decoration: underline !important;
	}
	
	.de-parea {
	font-size: 14px !important;
	}

	div[id*="preview_"] {
	border: 1px solid #111111 !important;
	}

	.de-pview {
	border: 1px solid #111111 !important;
	}

	.hdescription, .postscontainer, .postscontainer li, .postscontainer b, .postscontainer p{
	background-image: none !important;
	border: none !important;
	text-decoration: none !important;
	background-color: #282A2E !important;
	color: #C5C8C6 !important;
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	}


	.postscontainer a {
	text-decoration: none !important;
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	color: #81A2BE !important;
	padding: 0px !important;
	}

	.postscontainer a:hover {
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	color: #5F89AC !important;
	text-decoration: underline !important;
	}

	.left h3, .welcome {
	color: #C5C8C6 !important;
	}

	#adminbar, #adminbar a {
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	}

	.box1 {
	background-image: none !important;
	border: none !important;
	text-decoration: none !important;
	background-color: #282A2E !important;
	color: #C5C8C6 !important;
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	}

	.foot a {
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	color: #81A2BE !important;
	text-decoration: none !important;
	}

	.foot a:hover {
	font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
	font-size: 14px !important;
	color: #5F89AC !important;
	text-decoration: underline !important;
	}

	.nl404 h5 {
	color: #C5C8C6 !important;
	background-color: #282A2E !important;
	border: none !important;
	}

	.welcome {
	background-color: #1D1F21 !important;
	color: #C5C8C6 !important;
	border: none !important;
	}

	.logo404 {
	display: none !important;
	}
}