@-moz-document regexp("http(|s)://(|www.)2(|-)ch\.(so|ru|hk|ec|pm|re|tf|wf|yt).*") {

#trumpet_message, .rmenu.desktop, .board-banner, .footer, #adminbar hr, #de-main hr, hr.pre-rekl, .passcode-banner.desktop, .rekl, a[href*="liveinternet.ru"] {
    display: none !important;
}

#adminbar {
    width: 100% !important;
}

html,body {
    background-image: none !important;
    background-color: #1D1F21 !important;
    color: #C5C8C6 !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 16px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px !important;
}

form {
    font-size: 0.9em;
}

.post.reply {
    background-color: #282A2E !important;
    border-radius: 0 !important;
    border: 1px solid #282A2E !important;
}

div[id*="thread_"], .thread_wrap.expandble, .thread_wrap {
    background-color: #282A2E !important;
    border-radius: 0 !important;
    border: 1px solid #111111 !important;
}

div[id*="thread_"] {
    border: 1px solid #282A2E !important;
}

.thread_wrap:after {
    background: linear-gradient(to top, #282A2E, #282A2E) !important;
}

p {
    margin: 4px 0 !important;
}

th {
    border: 1px solid #111111 !important;
}

hr {
    border: none !important;
    border-top: 1px solid #282a2e !important;
    height: 0 !important;
}

a {
    color: #81A2BE !important;
    padding: 0px !important;
    text-decoration: none !important;
}

a:hover {
    color: #5F89AC !important;
    text-decoration: none !important;
}

.de-refmap {
    font-size: 10px !important;
}

.reflink a {
    color: #C5C8C6 !important;
    text-decoration: none !important;
}

.reflink a:hover {
    color: #5F89AC !important;
    text-decoration: none !important;
}

a.post-reply-link {
    color: #5F89AC !important;
    text-decoration: underline !important;
}

a.post-reply-link:hover {
    color: #81A2BE !important;
    text-decoration: underline !important;
}

.ABU-refmap a {
    color: #81A2BE !important;
    text-decoration: none !important;
    font-size: 10px !important;
    font-style: italic !important;
}

.ABU-refmap a:hover {
    color: #5F89AC !important;
    text-decoration: none !important;
    font-size: 10px !important;
    font-style: italic !important;
}

.a-link-emulator {
    color: #81A2BE !important;
    padding: 0px !important;
    text-decoration: underline !important;
}

.a-link-emulator:hover {
    color: #5F89AC !important;
    padding: 0px !important;
    text-decoration: underline !important;
}

.menu a {
    color: #81A2BE !important;
    padding: 0px !important;
    text-decoration: underline !important;
}

.menu a:hover {
    color: #5F89AC !important;
    text-decoration: underline !important;
}

.post-title {
    background: inherit !important;
    font-size: 10pt !important;
    color: #b294bb !important;
    font-weight: bold !important;
}

.ananimas {
    background: inherit !important;
    font-size: 10pt !important;
    color: #C5C8C6 !important;
    font-weight: bold !important;
}

.reply-label {
    background: inherit !important;
    font-size: 12pt !important;
    color: #81A2BE !important;
}

.unkfunc {
    color: #B5BD68 !important;
}

#title {
    text-decoration: none !important;
    font-size: 28px !important;
    font-weight: bold !important;
    color: #C5C8C6 !important;
}

.de-parea, .norm-reply {
    font-size: 14px !important;
}

.pager {
    background: #282A2E !important;
    border: 1px solid #111111 !important;
    color: #C5C8C6 !important;
    padding: 2px 8px !important;
    font-size: 13px !important;
}

.post.reply.de-pview {
    border: 1px solid #111111 !important;
}

div[id^="preview-"] {
    border: 1px solid #111111 !important;
}

#de-qarea {
    border: 1px solid #111111 !important;
    padding: 5px !important;
}

.hdescription, .postscontainer, .postscontainer li, .postscontainer b, .postscontainer p {
    background-image: none !important;
    border: none !important;
    text-decoration: none !important;
    background-color: #282A2E !important;
    color: #C5C8C6 !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 14px !important;
}

.postscontainer a {
    text-decoration: none !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 14px !important;
    color: #81A2BE !important;
    padding: 0px !important;
}

.postscontainer a:hover {
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 14px !important;
    color: #5F89AC !important;
    text-decoration: underline !important;
}

.left h3, .welcome {
    color: #C5C8C6 !important;
}

.newsline {
    border-bottom: 0.1px solid #111111 !important;
    margin: 0 0 15px !important;
    padding: 0 0 15px !important;
    text-align: center !important;
}

input, textarea {
    -moz-appearance: none !important;
    background-color: #282A2E !important;
    border-radius: 0px !important;
    border: 1px solid #111111 !important;
    color: #C5C8C6 !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 13px !important;
    padding: 1px 8px !important;
    font-size: 13px !important;
    margin-top: 1px !important;
}

input[type="submit"] {
    padding: 2px 8px !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-box-sizing: content-box;
    text-indent: 0.01px !important;
    text-overflow: "" !important;
    background-color: #282A2E !important;
    border-radius: 0px !important;
    border: 1px solid #111111 !important;
    color: #C5C8C6 !important;
}

#settings-window, #boardstats-box {
    background-image: none !important;
    background-color: #1D1F21 !important;
    border: 1px solid #111111 !important;
    color: #C5C8C6 !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
    font-size: 13px !important;
}

#settings-window-header {
    background-color: #282A2E !important;
    border: 1px solid #111111 !important;
}
}
